

  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #61dafb0a;
    border-radius: 8px;
    margin: 10px 0px;
    padding: 0px 10px;
    box-shadow: 1px 1px 1px#61dafbb9;
    
    &.isDone {
      .input-task {
        text-decoration: line-through;
      }
    }
    
    div.inputs {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: start;
      font-size: 20px;
      position: relative;

      &.message::before {
        content: 'Aperte enter para salvar';
        position: absolute;
        top: 36px;
        font-size: 14px;
        right: 30px;
        color: mediumaquamarine;
      }

      &, input.input {
        width: 100%;
        background-color: transparent;
      }

      input.input {
        margin: 10px;
      }

      .checkbox {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        .checkbox-icon {
          width: 20px;
          height: 20px;
          color: #61DAFB;
        }
      }
    }

    div {
      display: flex;

      .icon {
        cursor: pointer;
        margin: 5px;
      }
    }
  }
