#api-cep {
  .form {
    display: grid;
    grid-template: 1fr 20px 1fr / 1fr 1fr 1fr;
    gap: 20px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: rgba(97, 218, 251, 0.0392156863);
    box-shadow: 1px 1px 1px rgb(97 218 251 / 73%);
  
    label {
      display: grid;
      gap: 8px;
    }
  
    label:last-child {
      grid-column: 2 / 4;
    }

    span {
      grid-row: 2;
      grid-column: 1 / 4;
      color: #843453;
    }
  }
}