.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  grid-column: 2;
  padding-top: 40px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;

    img {
      width: 26px;
    }
  }
}

