section.grid-pattern {
  grid-column: 1 / 4;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  
  &.sticky {
    background-color: #242424;
    box-shadow: 0px 1px 10px rgb(97 218 251 / 73%);
    z-index: 1;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  grid-column: 2;
  padding: 30px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;

    img {
      width: 26px;
    }
  }

  .projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
  }
}

