.container {
  grid-column: 2;
  padding: 50px 0px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

    img {
      width: 60px;
      margin-right: 10px;
    }
  }

  .new-task {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}